@charset "UTF-8";
html, body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}
a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
  background: #8dba69;
  border-radius: 5px;

}
a:active {
  color rgb(255, 255, 255);
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all.6s ease;
  -moz-transition: all.6s ease;
  -webkit-transition: all.6s ease;
  -ms-transition: all.6s ease;
}
img {
   max-width: 100%;
   height: auto;
   width: auto\9;
}

header,footer {
  width: 98%;
  float:left;
}
header {
  padding: 1%;
  background-color: #4d7e29;
  margin-bottom: 5px;
}
header #about {
  margin-bottom: 20px; 
}
#page-wrap:after {
  content:"";
  display:  block;
}
footer,#page-wrap:after {height: 10px}
#page-wrap{
  min-height: 96%;
  margin-bottom: -10px;
}
#logo {
  font-size: 2em;
  font-family: Courier New, monospace;
  margin-left: 50px;
}
#aboutProject {
  float:right;
  margin-right: 5px;
  font-family: Courier New, monospace;
  padding-top: 5px;
}
#idea{
  margin-bottom: 30px;
  color: #4d7e29;
  font-family: Courier New, monospace;

}
/* Стили для footera*/
#fotertext {
  font-family: Courier New, monospace;
  color: white;

}
.blog {
  border-radius: 5px;
  background: #d2dce1;
  min-height: 580px;
  width: 85%;
  border: 1px solid silver;
}
#page-wrap #map {
  height: 500px;
  width: 100%;
}
/*Стили для aboutProject*/
#idea {
  font-size: 2em;
  text-align: center;

}
footer {
  margin-top: 10px;
  padding: 1%;
  background: #4d7e29;
  min-height: 15px;
}
